* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-area: header;
    background-color: #3b3b3b;
    color: #ffffff;
    padding: 40px;
    font-size: 7px;
    text-align: left;
    padding-left: 10px;
    padding-top: 13px;
}

nav {
    grid-area: nav;
    background-color: #000000;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    display: block;
    padding: 15px 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
}

main {
    grid-area: main;
    background-color: #d9d9d9;
    padding: 10px;
}

aside {
    grid-area: aside;
    background-color: #ffffff;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: #3b3b3b;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}