* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

header {
  background-color: #332f4f;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: none;
  flex-direction: column;
  background-color: #332f4f;
}

nav a {
  color: white;
  padding: 0.75rem;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #332f4f;
}

#menuButton {
  font-size: 1.5rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

nav.open {
  display: flex;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center; 
  align-items: start;
}

.gallery h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 2rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 100%; 
  max-width: 300px; 
}

figure img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  display: block;
}

figcaption {
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 500;
}

footer {
  background-color: #332f4f;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
